action==1.4.4
aiodns==3.1.1
aiohttp==3.9.3
aiosignal==1.3.1
alpaca==1.0.0
alpaca-py==0.16.0
alpha-vantage==2.3.1
altair==5.2.0
annotated-types==0.6.0
appdirs==1.4.4
APScheduler==3.10.4
asttokens==2.4.1
attrs==23.2.0
Babel==2.14.0
backtrader==1.9.78.123
bcrypt==4.1.2
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.7.0
bs4==0.0.2
cachetools==5.3.3
calculation==8.0
ccxt==4.2.22
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
clarabel==0.7.1
click==8.1.7
cmdstanpy==1.2.1
colorama==0.4.6
comm==0.2.1
config==0.5.1
contourpy==1.2.0
cryptography==42.0.5
cvxpy==1.4.2
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
dnspython==2.6.1
duckdb==0.10.0
ecos==2.0.13
email_validator==2.1.1
exchange_calendars==4.5.3
executing==2.0.1
fastjsonschema==2.19.1
Flask==3.0.2
Flask-BabelEx==0.9.4
Flask-Login==0.6.3
Flask-Mail==0.9.1
flask-marshmallow==1.2.0
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
fonttools==4.49.0
frozendict==2.4.0
frozenlist==1.4.1
gitdb==4.0.11
GitPython==3.1.42
greenlet==3.0.3
h11==0.14.0
holidays==0.43
html5lib==1.1
ibapi==9.81.1.post1
idna==3.6
importlib-metadata==7.0.1
importlib_resources==6.1.2
inflection==0.5.1
iniconfig==2.0.0
ipykernel==6.29.3
ipython==8.22.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
jsonpickle==3.0.3
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.7.1
kiwisolver==1.4.5
korean-lunar-calendar==0.3.1
lumibot==3.1.14
lumiwealth-tradier==0.1.6
lxml==5.1.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.0
marshmallow-sqlalchemy==1.0.0
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdurl==0.1.2
more-itertools==10.2.0
msgpack==1.0.8
multidict==6.0.5
multitasking==0.0.11
nbformat==5.9.2
nest-asyncio==1.6.0
numpy==1.26.4
osqp==0.6.5
packaging==23.2
pandas==2.2.1
pandas-datareader==0.10.0
pandas_market_calendars==4.4.0
parso==0.8.3
passlib==1.7.4
patsy==0.5.6
peewee==3.17.1
pep517==0.13.1
pillow==10.2.0
platformdirs==4.2.0
plotly==5.19.0
pluggy==1.4.0
polygon-api-client==1.13.4
prompt-toolkit==3.0.43
prophet==1.1.5
protobuf==4.25.3
psutil==5.9.8
psycopg2-binary==2.9.9
pure-eval==0.2.2
pyarrow==15.0.0
pybind11==2.11.1
pycares==4.4.0
pycparser==2.21
pydantic==2.6.3
pydantic_core==2.16.3
pydeck==0.8.1b0
Pygments==2.17.2
pyluach==2.2.0
pyparsing==3.1.1
pyproject==1.3.1
pyproject-toml==0.0.10
pytest==8.1.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-engineio==4.9.0
python-socketio==5.11.1
pytz==2024.1
pyzmq==25.1.2
qdldl==0.1.7.post0
Quandl==3.7.0
quantstats-lumi==0.1.10
referencing==0.33.0
requests==2.31.0
rich==13.7.1
rpds-py==0.18.0
scipy==1.10.1
scs==3.2.4.post1
seaborn==0.13.2
simple-websocket==1.0.0
six==1.16.0
smmap==5.0.1
soupsieve==2.5
speaklater==1.3
SQLAlchemy==2.0.27
sseclient-py==1.8.0
stack-data==0.6.3
stanio==0.3.0
statsmodels==0.14.1
streamlit==1.31.1
TA-Lib @ file:///D:/ATTACKER/Attacker-2024/ta_lib-0.4.25-cp311-cp311-win_amd64.whl#sha256=4ec5a198e3240418b0420d684d3683bca942ee5ced29a2afed51868222d96e27
tabulate==0.9.0
tenacity==8.2.3
termcolor==2.4.0
toml==0.10.2
toolz==0.12.1
tornado==6.4
tqdm==4.66.2
traitlets==5.14.1
typing_extensions==4.10.0
tzdata==2024.1
tzlocal==5.2
urllib3==1.26.18
uuid==1.30
validators==0.22.0
vnstock==0.2.8.9
watchdog==4.0.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==11.0.3
Werkzeug==3.0.1
wsproto==1.2.0
WTForms==3.1.2
yarl==1.9.4
yfinance==0.2.37
zipp==3.17.0
